version=0.17.0

break-cases=all
break-fun-decl=smart
cases-exp-indent=2
doc-comments=before
dock-collection-brackets=true
if-then-else=k-r
let-and=sparse
parse-docstrings=true
type-decl=sparse
wrap-comments=true
exp-grouping=preserve
