version=0.24.1
ocaml-version=4.12.0

cases-exp-indent=2
doc-comments=before
dock-collection-brackets=true
let-and=sparse
parse-docstrings=true
type-decl=sparse
wrap-comments=true
exp-grouping=preserve
